*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}
.ct2{
    margin-left: 65px;
    /* border: 2px solid red;    */
    
    max-width: 80%;
    padding: 10px 30px;
    margin-top: 150px;
}
#colum1{
    border: 15px solid white;
    margin-top: 120px;
    height: 650px;
   width: 40%;
    padding: 0px 0px;
    margin: 20px 20px;
    display: inline-block;
}
#colum2{
    /* margin-left: 20px; */
}
.image1{
    background-image: url(./images/6.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    transition: transform 1s ease;
    max-width: 100%;
    height: 400px; 
    padding: 0;
    margin:0;
}
.brain{
    color:black;
    font-size: 25px;
}
.beve{
    font-size: 12px;
    color: green
}
.vest{
    color: black;
    font-size: 15px;
    margin-top: 13px;
    left: auto;
    padding :5px;
}
.Read{
    color:black;
    font-size: 17px;
    padding-top: 103px;
}
.readp{
    color:black;
}
.icons{
    margin-top: -20px;
 
    color: black;
    padding-top: 22px;
    padding: 0px;
    padding-left: 140px;
   
    font-size: 13px;
}
.main{
    margin-top: 118px;
}